<section class='user-container'>
<% if @user.present? %>
<%= link_to 'create post', user_path(@user.id) %>
<% end %>
<div class='user'>
       <div class='profile_Photo'>
       <div><img src="<%= @user.photo %>" alt='profile-picture'></div>
  </div>
<div class='user_name'>
  <% if @user.present? %>
    <h2><%= @user.name %></h2>
    <div class='post_nums'>
      <p class="post_count">Number of posts: <%= @user.posts_counter %></p>
    </div>
  <% else %>
    <p>User not found</p>
  <% end %>
</div>
</div>

  <div class="posts_container">
  <% @posts.each_with_index do |post, index| %>
  <%= link_to user_post_path(@user, post) do %>
    <ul class="post">
      <h3>Post #<%= index+1 %></h3>
      <p class="post_text"><%= post.text %></p>
      <p class="comments_likes">
        Comments: <%= post.comments_counter %>,
        Likes: <%= post.likes_counter %>
      </p>
    </ul>
    <% end %>
  <% end %>
  </div>

  <div class="post">
  <% if @posts %>
    <% @posts.each do |post| %>
      <%= link_to user_post_path(@user, post), class: "user-link" do %>
        <div class="">
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
          <div class=" ">
            <p>Comments: <%= post.comments_counter.nil? ? 0 : post.comments_counter %></p>
            <p class="">Likes: <%= post.likes_counter.nil? ? 0 : post.likes_counter %></p>
          </div>
        </div>
      <% end %>
      <div class="">
      <% @comments = Post.recent_comments(post.id) %>
<% @comments.each do |comment| %>
  <div class="">
    <h3><%= comment.user_id %></h3>:
    <p><%= comment.text %></p>
  </div>
<% end %>
      </div>
    <% end %>
  <% else %>
    <p>No posts found</p>
  <% end %>
  </div>

</section>


<div class="btn-section">
      <button class="all_posts">
        <%=link_to 'home',  '/users' %>
      </button>

      <button class="all_posts">
        'back'
      </button>
  


 