<h1 class="Head">Shows the details of posts for a given user<h1>

<section class="posts_container">

  <% if @post %>
    <h2><%= @post.title %></h2>
    <p><%= @post.content %></p>
    <p><%= @post.user.name %></p>
    <% if @post_comments %>
      <section class='comments-area'>
        <% if @post_comments.any? %>
          <div class="comments">
            <h4>Comments:</h4>
            <ul>
              <% @post_comments.each do |comment| %>
                <% if comment.post_id === @post.id %>
                  <li><%= comment.user.name %>: <%= comment.text %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% else %>
          <p>No comments yet.</p>
        <% end %>
      </section>
    <% else %>
      <p>No comments yet.</p>
    <% end %>
  <% else %>
    <p>Post not found.</p>
  <% end %>

  <!-- View for a post -->
<% if can? :destroy, @post %>
  <%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<!-- View for a comment -->
<% if can? :destroy, @comment %>
  <%= button_to "Delete", post_comment_path(@post, @comment), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

  <section class='comments-area'>
    <% if @post_comments && @post_comments.any? %>
      <div class="comments">
        <h4>Comments:</h4>
        <ul>
          <% @post_comments.each do |comment| %>
            <li><%= comment.user.name %>: <%= comment.text %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p class="no-posts">No recent comments.</p>
    <% end %>
  </section>
</section>