<h1 class="Head">Here is a list of all user</h1>

<section class='section-container'>
<% @users.each do |user| %>
  <div class='user'>
  <% if user.photo.attached? %>
  <%= image_tag url_for(user.photo), class: "profile-photo" %>
<% else %>
  <%= image_tag 'profile.jpg' %>
<% end %>
    <div class='profile_desc'>
      <h2 class='name'><%= user.name %></h2>
      <div class='post_link'>
        <p>Number of posts: <%= user.posts_counter %></p>
        <button>
          <%= link_to "Number of posts", user_path(user) %>
        </button>
      </div>
    </div>
  </div>
<% end %>
</section>